/* including the font.css file */
@import url(./font.css);
body{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0%;
}

.collapse .navbar-nav .nav-item a{
    /* background: rgb(135, 216, 245); */
    background-color: rgb(235, 116, 116);
    /* color: white; */
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    background-clip:text;

}
.collapse .navbar-nav .nav-item a:hover{
    /* background: rgb(135, 216, 245); */
    background-color: rgb(120, 183, 241);
    /* color: white; */
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    background-clip:text;
    transform: scale(1.4);
    
}
.nav-link{
    font-family: "roboto",cursive;
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.7rem;
}
.nav-item{
    padding: .5rem;
}
.myheader .main-menu .container-fluid .list .uls{
    display: flex; justify-content: flex-end;
}
.button-primary{
    background:cornflowerblue;
    margin: 1em;
    color: yellow;
    background-clip: padding-box;
    border: crimson 1px solid;
    transition: background .6s ease;
    box-shadow: 1px 1px 5px 2px rgb(82, 57, 57);
    /* background-color: red; */
}
.site-button .bt .button-primary:hover{
    background:whitesmoke;

    color: black;
    background-clip: padding-box;
    /* border: crimson 1px solid; */
    /* background-color: red; */
}

/* about area; */
.main-about{
    padding: 8em 5em;
    
}
.tag span{
    display: block;
    letter-spacing: .7em;
    font: normal 500 1em robot;
    animation: about 2s ease-in 1s infinite alternate;
}
@keyframes about {
    0%{
        color: red;
    }
    25%{
        color: blueviolet;
    }
    50%{
        color: oldlace;
    }
    75%{
        color:greenyellow;
    }
    100%{
        color: pink;
    }
}

.tag .paragraph .para{
    color: cadetblue;
}
.row2 .img-fluid{
    height: 5em;
    width: 5em;
}
.row2 .img-fluid:hover{
   transform: scale(1.3);
   cursor: pointer;
   border-radius: 50px;
   box-shadow: 2px 3px 6px 4px gray;
}

.brand-area{
    padding: 1em 5em;
}
.brand-area .row1 .row2 .col-lg-4{
    display: flex;
    justify-content: center;
    padding: 7px;
    
}

.ecperiance-area .exp .ex{
    display: flex;
    flex-direction: column;
   

}
.ecperiance-area .exp .ex >span{
    padding: 5px;
    font-family: roboto;
   

}
.card-child .card{
    position: relative;
    margin: 1em;
    margin-left: 1.7em;
    padding: 1em;
    box-shadow: 20px 20px 50px  rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255, 255, 0.1);
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    backdrop-filter: blur(5x);

    
    
    /* box-shadow: 2px 3px 9px 4px firebrick; */

}

.card-child .card:hover>img{
    filter: brightness(1.1);
    
    

}
.projects .container .row{
        padding: 1em;
        margin-top:3em;
        /* margin: -70px; */
}
.projects .container .menu-button .text-uppercase{
    /* padding: 7em; */
background: transparent;
border: none;
font: normal 100 20px/12px roboto;
text-shadow: 2px 2px 7px ;
}
.projects .container .menu-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;

}
.projects .container .menu-button .text-uppercase:hover{
    /* padding: 7em; */
    background: white;
    color: darksalmon;
}

.title .my-img .test-popup-link:hover img{
    filter: brightness(1.05)drop-shadow(1px 8px 30px #b1afaf);
    /* transform: scale(1.03); */
}
.client-sec .clients-views{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
}
.client-sec .owl-carousel .client-box{
    box-shadow: 2px 4px 10px 4px #b1afaf;
    margin: 3em 1em;
    /* padding: 2em; */
    background:rgba(255, 255, 255, 0.5);
}
.client-sec .owl-carousel .client-box .image-box{
    padding: 2em;
    
}
.client-sec .owl-carousel .client-box .name-box h2{
    margin-top: 1em;
}
.footer-area .container-fluid .follow{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 1em;
    margin-left: 28em;

}
.footer-area .container-fluid{
background: #1bafaf;
display: flex;
flex-direction: row;
height: 5em;
}
.footer-area .container-fluid .email-me{
    margin-top: 5em;
    /* background: chartreuse; */
    display: inline-block;
    
}
.footer-area .container-fluid .email-me .em,button{
    border: 2px solid rgb(191, 29, 29);
    border-radius: 12px;
    box-shadow: 2px 3px 6px 3px rgba(255, 255, 255, 0.5);
}
.footer-area .container-fluid .email-me button:hover{
    background: whitesmoke;
    color: black;
    
}
/* .footer-area .container-fluid .follow .f1,.f2{
    padding: 2em;

} */
/* .box1{
    height:12em ;width: 50%;background: red;display: flex;justify-content: center;align-items: center;
}
.box2{
    height:25% ;width: 25%;background: yellow;display: flex;justify-content: center;align-items: center;
} */